*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.NavbarMenu{
    background-color:rgb(114, 124, 124) !important;   
}
.NavbarMenu ul{
    margin: auto;
}
.NavbarMenu ul li a{
    color: white; 
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
.NavbarMenu ul li a:hover{
    color: rgb(255, 0, 76);
}
.productItem{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.productItem .productImage{
    width: 100%;
    height: 230px;
}