{% extends 'base/base.html' %}
{% block content %}

<div class="row">
    <div class="col-3">
        {% include 'base/category.html' %}
    </div>
    {% for product in products %}
    <div class="col-3 ">
        <div class="product-item">
            
            <img src="{{product.productimage}}" id="prodcut-{{product.name}}">
            <div class="product-content">
            <h3 class="product-name">{{product.name}}</h3>
           </div>
            <div class="right-set">
            
              <h2 class="product-price">$<span>{{product.price}}</span></h2>
              <p>{{product.desc}} </p>
            
              <button class="btn btn-primary">ADD TO CART</button>
            </div>
        
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}